<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>StreamChannel Analytics</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
    <link rel="stylesheet" href="/assets/stylesheets/skeleton.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
        <div class="eleven columns" style="margin-top:5%; margin-bottom:5%">
            <image src="/assets/images/logo_1591515_p48h4sx5_screen_display.png" />
            <ul data-bind="foreach:websites">
                <li><a href="#" data-bind="text:website, click:chartSite"></a></li>
            </ul>

            <div id="chartContainer" class="u-pull-left" style="height: 300px; width: 100%;">
            </div>

            

            <div id="referrerContainer" class="u-pull-left" style="height: 300px; width: 50%;">
            </div>
            <div id="pagesContainer" class="u-pull-left" style="height: 300px; width: 50%;">
            </div>
        </div>
    </div>
</div>




<script type="text/javascript" src="/assets/javascripts/canvasjs.min.js"></script>
<script src="/assets/javascripts/promise.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
<script type="text/javascript">
    function chartSite(i){
        var myData = promise.get("/visitdata?website="+i.website).then(function(error, text, xhr) {
            var data = JSON.parse(text);
            data.forEach(function(item){
               item.date = new Date(item.date)
            });

            var graphData = [{
                showInLegend: true,
                name: i.website,
                type: "line",
                xValueType: "dateTime",
                dataPoints: data.sort(function(a,b){ return a.date > b.date}).map(function(event){return {x:event.date, y:event.value}})
                }];

            var chart = new CanvasJS.Chart("chartContainer",
            {
              title:{
              text: "Unique Visitors By Hour"
              },
              axisX:{
                title: "time",
                gridThickness: 2,
                interval:1,
                intervalType: "hour",
                valueFormatString: "YYYY-MM-DD hh TT",
                labelAngle: -20
              },
              data: graphData
            });

            chart.render();
        });
        var myData = promise.get("/referrerdata?website="+i.website).then(function(error, text, xhr) {
            var data = JSON.parse(text);
            var keys = [];
            for(var x in data){
                keys.push(x);
            }

            var graphData = keys.map(function(element){
                return {
                showInLegend: true,
                name: element,
                type: "line",
                xValueType: "dateTime",
                dataPoints: data[element].map(function(x){ x.date = new Date(x.date); return x;})
                                         .sort(function(a,b){ return a.date > b.date})
                                         .map(function(event){return {x:event.date, y:event.value}})
                }
            });

            var chart = new CanvasJS.Chart("referrerContainer",
            {
              title:{
              text: "Referrers By Hour"
              },
              axisX:{
                title: "time",
                gridThickness: 2,
                interval:1,
                intervalType: "hour",
                valueFormatString: "YYYY-MM-DD hh TT",
                labelAngle: -20
              },
              data: graphData
            });

            chart.render();
        });
         var myData = promise.get("/pagedata?website="+i.website).then(function(error, text, xhr) {
            var data = JSON.parse(text);
            pagedata = data;
            var keys = [];
            for(var x in data){
                keys.push(x);
            }

            var graphData = keys.map(function(element){
                return {
                showInLegend: true,
                name: element,
                type: "line",
                xValueType: "dateTime",
                dataPoints: data[element].map(function(x){ x.date = new Date(x.date); return x;})
                                         .sort(function(a,b){ return a.date > b.date})
                                         .map(function(event){return {x:event.date, y:event.value}})
                }
            });

            var chart = new CanvasJS.Chart("pagesContainer",
            {
              title:{
              text: "Page Views By Hour"
              },
              axisX:{
                title: "time",
                gridThickness: 2,
                interval:1,
                intervalType: "hour",
                valueFormatString: "YYYY-MM-DD hh TT",
                labelAngle: -20
              },
              data: graphData
            });

            chart.render();
        });
      }


  window.onload = function () {
        var myModel = {websites:ko.observableArray()};
        promise.get("/websites").then(function(error, text, xhr) {
            var data = JSON.parse(text);
            myModel.websites(data);
        });

        ko.applyBindings(myModel);
    }
  </script>
</body>
</html>


